.pulse {
    animation: pulse 1.5s ease-in-out;

    @keyframes pulse {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

.spin {
    animation: spin 1.5s ease-in-out;

    @keyframes spin {
        0% {
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transform: rotate(0);
        }
        50% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.click {
    animation: click 1.5s ease-in-out;

    @keyframes click {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.02);
        }
        100% {
            transform: scale(1);
        }
    }
}

.shake {
    animation: shake 0.5s ease-in-out;

    @keyframes shake {
        0% {
            transform: translate3d(0, 0, 0);
        }
        20% {
            transform: translate3d(-1px, 0, 0);
        }
        40% {
            transform: translate3d(2px, 0, 0);
        }
        60% {
            transform: translate3d(-2px, 0, 0);
        }
        80% {
            transform: translate3d(1px, 0, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
}

.enterFromRight {
    animation: enterFromRight 0.4s ease-in-out;
    animation-fill-mode: forwards;

    @keyframes enterFromRight {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(0vw);
        }
    }
}

.enterFromLeft {
    animation: enterFromLeft 0.4s ease-in-out;
    animation-fill-mode: forwards;

    @keyframes enterFromLeft {
        0% {
            transform: translateX(-100vw);
        }

        100% {
            transform: translateX(0vw);
        }
    }
}

.exitToRight {
    animation: exitToRight 0.4s ease-in-out;
    animation-fill-mode: forwards;

    @keyframes exitToRight {
        0% {
            transform: translateX(0vw);
        }

        100% {
            transform: translateX(100vw);
        }
    }
}

.exitToLeft {
    animation: exitToLeft 0.4s ease-in-out;
    animation-fill-mode: forwards;

    @keyframes exitToLeft {
        0% {
            transform: translateX(0vw);
        }

        100% {
            transform: translateX(-100vw);
        }
    }
}
