@import "./variables";
@import "./global";
@import "./animations";

.isDesktop {
    // #######################################
    //      AUTH
    // #######################################

    //      CARDS
    // #######################################

    .Card {
        .header {
            max-width: 30rem;
        }

        .interactions {
            max-width: 30rem;
        }
    }

    // #######################################
    //      HISTORIC
    // #######################################

    //      HISTORIC SECTION
    // #######################################

    .HistoricSection {
        .calendar {
            .day {
                .box {
                    .boxContents {
                        .fastDuration {
                            font-size: 1rem;
                        }
                    }
                }

                .monthDay {
                    font-size: 1rem;
                }
            }
        }
    }
}
