@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

// #######################################
//      APP
// #######################################

.App {
    position: relative;
    height: 100%;
    width: 100%;
}

// #######################################
//      AUTH
// #######################################

//      CARDS
// #######################################

.Card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .backButton {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        top: $authCardDistanceToTop - $authButtonHeight;
        z-index: 140;
        color: $authIconColor;
        padding: 0 3rem;
        font-weight: 700;
    }

    .header {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: $authHeaderHeight;
        width: 90%;
        top: $authCardDistanceToTop;
        z-index: 150;
        background-color: $authCardBackground;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1rem;

        h1 {
            margin-bottom: 0.5rem;
            font-size: 1.8rem;
            font-weight: 700;
        }

        &.noInteractibles {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
        }

        .subtitle {
            font-weight: 400;

            p {
                color: $textWarning;
                margin-top: 0.3rem;
                font-size: 0.8rem;
                font-weight: 500;

                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .loadingContainer {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;

            .loadingText {
                width: 100%;
                opacity: 0.7;
                margin-bottom: 1rem;
                font-size: 0.9rem;
                font-weight: 400;
                text-align: center;
            }

            .loadingIcon {
                height: 2rem;
                max-height: 2rem;
                min-height: 2rem;
                width: 2rem;
                max-width: 2rem;
                min-width: 2rem;
                color: $authButtonOrange;
            }
        }
    }

    .clip {
        position: absolute;
        height: $authCardDistanceToTop + $authHeaderHeight / 2;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 130;
        background-color: $background;
    }

    .interactions {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 90%;
        top: $authCardDistanceToTop;
        background-color: $authButtonGrey;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        .separation {
            height: 1rem;
            background-color: $authCardBackground;
        }

        .fastPickerReplacement {
            height: $authButtonHeight * 2;
            width: 100%;
            background-color: $authCardBackground;
        }

        .healthPickerReplacement {
            height: $authButtonHeight * 2;
            width: 100%;
            background-color: $authButtonGrey;
        }
    }
}

//      BUTTON
// #######################################

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight;
    width: 100%;
    background-color: $authButtonOrange;
    color: $authIconColor;
    font-weight: 700;

    &.low {
        background-color: $authButtonGrey;
    }

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

//      OBJECTIVE WEIGHT BUTTON
// #######################################

.ObjectiveWeightButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight;
    width: 100%;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        .skip {
            border-bottom-left-radius: 1rem;
        }

        .select {
            border-bottom-right-radius: 1rem;
        }
    }

    .skip,
    .select {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight;
        width: 50%;
        background-color: $authButtonOrange;
        color: $authIconColor;
        font-weight: 700;
    }

    .skip {
        background-color: $authButtonGrey;
    }
}

//      INPUT
// #######################################

.Input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight;
    width: 100%;
    background-color: $authButtonGrey;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        input {
            border-bottom-left-radius: 1rem;
        }
    }

    input {
        user-select: all;
        height: $authButtonHeight;
        width: calc(100% - $authButtonHeight);
        background-color: $authInputGrey;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .enter {
        position: relative;
        height: $authButtonHeight;
        max-height: $authButtonHeight;
        min-height: $authButtonHeight;
        width: $authButtonHeight;
        max-width: $authButtonHeight;
        min-width: $authButtonHeight;
        overflow: hidden;
        background-color: $authButtonOrange;
        border-bottom-right-radius: 1rem;

        &.validating {
            pointer-events: none;
        }

        .icon {
            pointer-events: none;
            position: absolute;
            transition: top 0.2s ease-in-out;
            height: 100%;
            max-height: 100%;
            min-height: 100%;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            top: 0;
            left: 0;
            color: $authIconColor;
            padding: 1.3rem;

            &.up {
                top: -$authButtonHeight;
            }

            &.down {
                top: $authButtonHeight;
            }
        }
    }
}

//      FAST PICKER
// #######################################

.FastPicker {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $authButtonHeight * 2;
    width: 100%;
    background-color: $authCardBackground;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .pickerContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight;
        width: 100%;
        overflow: hidden;
        background-color: $authButtonGrey;

        .element {
            pointer-events: none;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $authButtonHeight;
            max-height: $authButtonHeight;
            min-height: $authButtonHeight;
            width: $authButtonHeight;
            max-width: $authButtonHeight;
            min-width: $authButtonHeight;
            font-size: 1.1rem;

            .minutes {
                opacity: 1;
                margin-left: 0.05rem;
                font-size: 0.6rem;
            }
        }
    }

    .infoContainer {
        pointer-events: none;
        position: relative;
        height: $authButtonHeight;
        width: 100%;
        padding: 1rem;

        .highlight {
            font-weight: 700;
        }

        .warning {
            color: $textWarning;
            font-weight: 500;
        }
    }
}

//      HEALTH PICKER
// #######################################

.HealthPicker {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight * 2;
    width: 100%;
    background-color: $authButtonGrey;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .pickerContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight * 2;
        width: $authButtonHeight;
        overflow: hidden;

        .element {
            pointer-events: none;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $authButtonHeight;
            max-height: $authButtonHeight;
            min-height: $authButtonHeight;
            width: $authButtonHeight;
            max-width: $authButtonHeight;
            min-width: $authButtonHeight;
            opacity: 0;
            font-size: 1.1rem;
        }
    }

    .infoContainer {
        pointer-events: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight * 2;
        width: fit-content;
        margin-right: 1rem;
        margin-top: 0.3rem;
        padding: 0.2rem;
        font-size: 1.1rem;
        font-weight: 600;

        &.point {
            margin-right: 0;
            font-weight: 800;
        }
    }
}

// #######################################
//      LAYOUT
// #######################################

//      MOBILE LAYOUT
// #######################################

.MobileLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .mainPagesContent {
        position: relative;
        height: calc(100% - #{$navBarheight});
        width: 100%;
    }
}

//      NAVBAR
// #######################################

.Navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navBarheight;
    width: fit-content;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: $navbarBackground;
    margin: $navbarPadding 0;
    border-radius: 100vw;
    padding: $navbarPadding 0;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
        height: 100%;
        width: calc(2rem + #{$navBarheight * 0.4});
        background-color: transparent;
        margin: 0 $navbarPadding;
        border-radius: 100vw;
        padding: 0 1rem;

        &.selected {
            width: 8rem;

            &.navbarFasting {
                background-color: $navbarFastBackground;
            }

            &.navbarWeight {
                background-color: $navbarWeightBackground;
            }

            &.navbarHistory {
                background-color: $navbarHistoryBackground;
            }

            &.navbarSettings {
                background-color: $navbarSettingsBackground;
            }

            .icon {
                &.navbarFasting {
                    color: $navbarFastForeground;
                }

                &.navbarWeight {
                    color: $navbarWeightForeground;
                }

                &.navbarHistory {
                    color: $navbarHistoryForeground;
                }

                &.navbarSettings {
                    color: $navbarSettingsForeground;
                }
            }

            .name {
                transition: opacity 0.05s 0.15s ease-in-out, width 0.2s ease-in-out;
                width: 5rem;
                opacity: 1;
            }
        }

        .icon {
            transition: color 0.2s ease-in-out;
            height: $navBarheight * 0.4;
            max-height: $navBarheight * 0.4;
            min-height: $navBarheight * 0.4;
            width: $navBarheight * 0.4;
            max-width: $navBarheight * 0.4;
            min-width: $navBarheight * 0.4;
            color: $navbarIconColor;
        }

        .name {
            transition: opacity 0.05s ease-in-out, width 0.2s ease-in-out;
            width: 0%;
            opacity: 0;
            padding-left: 0.5rem;
            font-weight: 600;
            font-size: 0.9rem;
            text-align: center;

            &.navbarFasting {
                color: $navbarFastForeground;
            }

            &.navbarWeight {
                color: $navbarWeightForeground;
            }

            &.navbarHistory {
                color: $navbarHistoryForeground;
            }

            &.navbarSettings {
                color: $navbarSettingsForeground;
            }
        }
    }
}

//      DESKTOP LAYOUT
// #######################################

.DesktopLayout {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: $desktopLayoutBackground;

    .grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-gap: 1rem;
        height: 100%;
        width: 100%;
        max-width: 100%;

        .sectionContainer {
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 100%;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            background-color: $background;
            overflow-y: auto;
        }
    }
}

//      POPUP
// #######################################

.Popup {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .blur {
        pointer-events: all;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .contentContainer {
        pointer-events: all;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: fit-content;
        max-height: 90%;
        width: calc(100% - 2rem);
        max-width: 50rem;
        z-index: 1000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: $background;
        border-radius: 1rem;

        &.addPadding {
            padding: 1rem;
        }

        .scroll {
            width: 100%;
            overflow: auto;
            margin-bottom: 1rem;

            .header {
                display: flex;
                margin-bottom: 2rem;

                .icon {
                    height: 2.5rem;
                    max-height: 2.5rem;
                    min-height: 2.5rem;
                    width: 2.5rem;
                    max-width: 2.5rem;
                    min-width: 2.5rem;
                    color: $fastIconOn;
                    margin-right: 1rem;
                }

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h1 {
                        width: 100%;
                        font-size: 1.3rem;
                        font-weight: 700;
                        opacity: 0.9;
                        margin-bottom: 0.1rem;
                    }

                    h2 {
                        width: 100%;
                        font-size: 0.9rem;
                        font-weight: 500;
                        opacity: 0.9;
                    }
                }
            }

            p {
                width: 100%;
                font-size: 0.9rem;
                font-weight: 500;
                opacity: 0.6;
                margin-bottom: 0.5rem;
            }
        }

        .closeApp {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .logoColor {
                height: 3rem;
                max-height: 3rem;
                min-height: 3rem;
                width: 3rem;
                max-width: 3rem;
                min-width: 3rem;
                margin-bottom: 0.5rem;
            }

            h1 {
                width: 100%;
                font-size: 1.3rem;
                font-weight: 700;
                opacity: 0.9;
                margin-bottom: 1.5rem;
                text-align: center;
            }

            .closeButtons {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .closeButton {
                    width: 12rem;
                    pointer-events: all;
                    min-width: fit-content;
                    text-align: center;
                    font-weight: 700;
                    border-radius: 100vw;
                    padding: 0.8rem 1.6rem;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
                    z-index: 1000;
                    background-color: $closeButtonColor;

                    &.low {
                        margin-bottom: 1rem;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        .button {
            pointer-events: all;
            width: fit-content;
            text-align: center;
            font-weight: 700;
            border-radius: 100vw;
            padding: 0.8rem 1.6rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            background-color: $closeButtonColor;
        }
    }
}

//      POPUP CONTENT
// #######################################

.PopupContent {
    background-color: $authCardBackground;
    border-radius: 1rem;

    h1 {
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 1rem 1rem 0 1rem;
    }

    &.noInteractibles {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
    }

    .subtitle {
        font-weight: 400;
        padding: 0 1rem;

        p {
            transition: opacity 0.2s ease-in-out;
            color: $textWarning;
            margin-top: 0.3rem;
            font-size: 0.8rem;
            font-weight: 500;
            opacity: 0;

            &.visible {
                opacity: 1;
            }

            &:first-letter {
                text-transform: capitalize;
            }
        }
    }

    .loadingContainer {
        transform: opacity 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
        padding: 1rem 0;

        .loadingIcon {
            transition: opacity 0.2s ease-in-out;
            height: 1.5rem;
            max-height: 1.5rem;
            min-height: 1.5rem;
            width: 1.5rem;
            max-width: 1.5rem;
            min-width: 1.5rem;
            color: $authButtonOrange;
            opacity: 0;

            &.visible {
                opacity: 1;
            }
        }
    }

    .editDateButton {
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 600;
        opacity: 0.8;
    }

    .separation {
        height: 1rem;
        background-color: $authCardBackground;
    }
}

//      LOADING
// #######################################

.Loading {
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    background-color: $background;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }

    .icon {
        height: 2.5rem;
        max-height: 2.5rem;
        min-height: 2.5rem;
        width: 2.5rem;
        max-width: 2.5rem;
        min-width: 2.5rem;
        color: black;
        opacity: 0.3;
    }
}

// #######################################
//      FASTING
// #######################################

//      FASTING
// #######################################

.Fasting {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: 1rem 0;
}

//      FAST SECTION
// #######################################

.FastSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        width: 100%;
        text-align: center;
        margin: 0.5rem 0 0;
        font-size: 1.3rem;
        font-weight: 700;
        opacity: 0.9;
    }

    .progressBarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        padding: 3rem 0 0;

        .insideProgress {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 0.8rem;
                font-weight: 700;
                opacity: 0.9;

                &.subtitle {
                    margin-top: 0.5rem;
                    opacity: 0.4;
                    font-weight: 600;
                }
            }

            .counter {
                display: flex;
                align-items: baseline;

                p {
                    font-size: 1.9rem;
                    font-weight: 600;
                    opacity: 0.9;
                    width: 2.8rem;
                    max-width: 3rem;
                    text-align: center;

                    &.seconds {
                        font-size: 0.9rem;
                        width: 1rem;
                    }

                    &.colon {
                        width: fit-content;
                        margin: 0 0.1rem;

                        &.seconds {
                            font-size: 0.9rem;
                        }
                    }
                }
            }

            .phaseIconContainer {
                position: absolute;
                height: 2.4rem;
                max-height: 2.4rem;
                min-height: 2.4rem;
                width: 2.4rem;
                max-width: 2.4rem;
                min-width: 2.4rem;
                border-radius: 100vw;
                opacity: 0.5;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);

                &.notYet {
                    background-color: $fastIconOff !important;

                    .phaseIcon {
                        filter: brightness(1);
                        color: rgba(0, 0, 0, 0.3) !important;
                    }
                }

                &.current {
                    opacity: 1;

                    .phaseIcon {
                        filter: brightness(0.4);
                        animation: pulse 1.5s ease-in-out infinite;

                        @keyframes pulse {
                            0% {
                                transform: scale(1);
                            }
                            50% {
                                transform: scale(1.2);
                            }
                            100% {
                                transform: scale(1);
                            }
                        }
                    }
                }

                .phaseIcon {
                    filter: brightness(0.4);
                    height: 100%;
                    max-height: 100%;
                    min-height: 100%;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    padding: 0.6rem;
                }
            }
        }
    }

    .button {
        transition: opacity 0.2s ease-in-out;
        width: fit-content;
        text-align: center;
        font-weight: 700;
        border-radius: 100vw;
        padding: 0.8rem 1.6rem;
        margin-top: -1rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        color: $background;
        opacity: 1;

        &.hidden {
            pointer-events: none;
            opacity: 0;
        }
    }

    .startEnd {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0.5rem 0 1rem;

        .start,
        .end {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 0.8rem;
                font-weight: 600;
                opacity: 0.5;
            }

            .date {
                font-size: 0.8rem;
                font-weight: 600;
                opacity: 0.9;
            }
        }
    }

    .phase {
        position: relative;
        background: $fastCardBackground;
        width: 90%;
        display: flex;
        align-items: center;
        margin: 0.5rem 0 1rem;
        border-radius: 1rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        padding: 1rem;

        .phaseIcon {
            height: 2rem;
            max-height: 2rem;
            min-height: 2rem;
            width: 2rem;
            max-width: 2rem;
            min-width: 2rem;
            color: $fastIconOn;
            margin-right: 1rem;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                width: 100%;
                text-align: left;
                font-size: 1rem;
                font-weight: 700;
                opacity: 0.8;
                margin-bottom: 0.3rem;
            }

            p {
                width: 100%;
                text-align: left;
                font-size: 0.8rem;
                font-weight: 600;
                opacity: 0.5;
            }
        }
    }
}

//      PROGRESS CIRCLE
// #######################################

.ProgressCircle {
    position: relative;

    &.animateProgress {
        .track {
            transition: stroke 0.3s ease-in-out;
        }

        .progress {
            transition: stroke-dashoffset 0.3s ease-in-out, stroke 0.3s ease-in-out;
        }
    }

    .track {
        transition: none;
        stroke-width: 0.3rem;
        opacity: 0.5;
    }

    .progress {
        transition: none;
    }
}

// #######################################
//      WEIGHT
// #######################################

.Weight {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: 1rem 0;
}

//      WEIGHT SECTION
// #######################################

.WeightSection {
    $weightLabelWidth: 3rem;
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        width: 100%;
        text-align: center;
        margin: 0 0 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        opacity: 0.9;
    }

    h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 0.2rem;
        font-size: 1rem;
        font-weight: 700;
        opacity: 0.9;
    }

    .currentWeight {
        width: 100%;
        text-align: center;
        margin: 0 0 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        opacity: 0.9;
    }

    .progress {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;

        .progressLineContainer {
            width: calc(100% - #{$weightLabelWidth * 2});
            min-width: calc(100% - #{$weightLabelWidth * 2});
            max-width: calc(100% - #{$weightLabelWidth * 2});
        }

        .weight {
            margin-top: 12px; // Must be the same as the font-size of the label in the ProgressLine
            width: $weightLabelWidth;
            min-width: $weightLabelWidth;
            max-width: $weightLabelWidth;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75rem;
            font-weight: 500;
            opacity: 0.6;
        }
    }

    .button {
        width: fit-content;
        text-align: center;
        font-weight: 700;
        border-radius: 100vw;
        padding: 0.8rem 1.6rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        color: $background;
        margin-top: 0.5rem;
    }
}

//      PROGRESS LINE
// #######################################

.ProgressLine {
    position: relative;
    height: fit-content;

    svg {
        overflow: visible;
    }

    &.animateProgress {
        .track {
            transition: all 0.3s linear;
        }

        .progress {
            transition: all 0.3s linear;
        }
    }

    .track {
        transition: none;
        stroke-width: 0.3rem;
        opacity: 0.5;
    }

    .progress {
        transition: none;
    }

    .progresslabel {
        font-weight: 600;
        opacity: 0.9;
    }
}

// #######################################
//      HISTORIC
// #######################################

.Historic {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: 1rem 0;
}

// #######################################
//      SETTINGS
// #######################################

.Settings {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: 1rem 0;
}
