@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

// #######################################
//      APP
// #######################################

.App {
    position: relative;
    height: 100%;
    width: 100%;
}

// #######################################
//      AUTH
// #######################################

//      CARDS
// #######################################

.Card {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .backButton {
        position: absolute;
        top: $cardDistanceToTop - $authButtonHeight;
        height: 4rem;
        padding: 0 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
        z-index: 140;
    }

    .header {
        position: absolute;
        top: $cardDistanceToTop;
        width: 90%;
        height: $authHeaderHeight;
        background-color: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        z-index: 150;

        h1 {
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        &.noInteractibles {
            border-radius: 1rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }

        .subtitle {
            font-weight: 400;

            p {
                margin-top: 0.3rem;
                font-size: 0.8rem;
                font-weight: 500;
                color: rgb(233, 50, 50);

                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .loadingContainer {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .loadingText {
                width: 100%;
                opacity: 0.7;
                font-weight: 400;
                text-align: center;
                font-size: 0.9rem;
                margin-bottom: 1rem;
            }

            .loadingIcon {
                height: 2rem;
                min-height: 2rem;
                max-height: 2rem;
                width: 2rem;
                min-width: 2rem;
                max-width: 2rem;
                color: $backgrounOrange;
            }
        }
    }

    .clip {
        position: absolute;
        width: 100%;
        height: $cardDistanceToTop + $authHeaderHeight / 2;
        top: 0;
        left: 0;
        z-index: 130;
        background-color: $background;
    }

    .interactions {
        position: absolute;
        top: $cardDistanceToTop;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background-color: rgb(230, 230, 230);

        .separation {
            background-color: white;
            height: 1rem;
        }

        .fastPickerReplacement {
            width: 100%;
            height: $authButtonHeight * 2;
            background-color: white;
        }

        .healthPickerReplacement {
            width: 100%;
            height: $authButtonHeight * 2;
            background-color: rgb(230, 230, 230);
        }
    }
}

//      BUTTON
// #######################################

.Button {
    width: 100%;
    background-color: $backgrounOrange;
    height: $authButtonHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

//      OBJECTIVE WEIGHT BUTTON
// #######################################

.ObjectiveWeightButton {
    position: relative;
    width: 100%;
    height: $authButtonHeight;
    display: flex;
    justify-content: center;
    align-items: center;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        .skip {
            border-bottom-left-radius: 1rem;
        }

        .select {
            border-bottom-right-radius: 1rem;
        }
    }

    .skip,
    .select {
        width: 50%;
        height: $authButtonHeight;
        background-color: $backgrounOrange;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skip {
        background-color: rgb(230, 230, 230);
    }
}

//      INPUT
// #######################################

.Input {
    position: relative;
    width: 100%;
    background-color: rgb(230, 230, 230);
    height: $authButtonHeight;
    display: flex;
    justify-content: center;
    align-items: center;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        input {
            border-bottom-left-radius: 1rem;
        }
    }

    input {
        background-color: rgb(235, 235, 235);
        width: calc(100% - $authButtonHeight);
        height: $authButtonHeight;
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem;
        user-select: all;
    }

    .enter {
        position: relative;
        height: $authButtonHeight;
        min-height: $authButtonHeight;
        max-height: $authButtonHeight;
        width: $authButtonHeight;
        min-width: $authButtonHeight;
        max-width: $authButtonHeight;
        background-color: $backgrounOrange;
        border-bottom-right-radius: 1rem;
        overflow: hidden;

        &.validating {
            pointer-events: none;
        }

        .icon {
            transition: top 0.2s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            color: rgba(0, 0, 0, 0.5);
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            padding: 1.3rem;
            pointer-events: none;

            &.up {
                top: -$authButtonHeight;
            }

            &.down {
                top: $authButtonHeight;
            }
        }
    }
}

//      FAST PICKER
// #######################################

.FastPicker {
    position: relative;
    width: 100%;
    height: $authButtonHeight * 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .pickerContainer {
        position: relative;
        width: 100%;
        background-color: rgb(230, 230, 230);
        height: $authButtonHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .element {
            position: absolute;
            width: $authButtonHeight;
            min-width: $authButtonHeight;
            max-width: $authButtonHeight;
            height: $authButtonHeight;
            min-height: $authButtonHeight;
            max-height: $authButtonHeight;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            pointer-events: none;

            .minutes {
                margin-left: 0.05rem;
                font-size: 0.6rem;
                opacity: 1;
            }
        }
    }

    .infoContainer {
        padding: 1rem;
        position: relative;
        width: 100%;
        height: $authButtonHeight;
        pointer-events: none;

        .highlight {
            font-weight: 700;
        }

        .warning {
            font-weight: 500;
            color: #ff5e00;
        }
    }
}

//      HEALTH PICKER
// #######################################

.HealthPicker {
    position: relative;
    width: 100%;
    height: $authButtonHeight * 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .pickerContainer {
        position: relative;
        width: $authButtonHeight;
        height: $authButtonHeight * 2;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .element {
            position: absolute;
            width: $authButtonHeight;
            min-width: $authButtonHeight;
            max-width: $authButtonHeight;
            height: $authButtonHeight;
            min-height: $authButtonHeight;
            max-height: $authButtonHeight;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            pointer-events: none;
            opacity: 0;
        }
    }

    .infoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        position: relative;
        width: fit-content;
        height: $authButtonHeight * 2;
        pointer-events: none;
        font-size: 1.1rem;
        margin-right: 1rem;
        margin-top: 0.3rem;
        font-weight: 600;

        &.point {
            margin-right: 0;
            font-weight: 800;
        }
    }
}

// #######################################
//      MOBILE LAYOUT
// #######################################

.MobileLayout {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 247, 255);

    .change {
        position: absolute;
        width: 100%;
        height: 5rem;
        top: 0;
        left: 0;
        background-color: rgb(21, 0, 78);
    }
}

// #######################################
//      DESKTOP LAYOUT
// #######################################

.DesktopLayout {
    position: relative;
    height: 100%;
    width: 100%;
}

// #######################################
//      HOME
// #######################################

.Home {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(102, 255, 0);
}

// #######################################
//      HISTORIC
// #######################################

.Historic {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 217, 0);
}

// #######################################
//      SETTINGS
// #######################################

.Settings {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 38, 255);
}
