@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

// #######################################
//      APP
// #######################################

.App {
    position: relative;
    height: 100%;
    width: 100%;
}

// #######################################
//      AUTH
// #######################################

//      CARDS
// #######################################

.Card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .backButton {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        top: $cardDistanceToTop - $authButtonHeight;
        z-index: 140;
        color: rgba(0, 0, 0, 0.5);
        padding: 0 3rem;
        font-weight: 700;
    }

    .header {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: $authHeaderHeight;
        width: 90%;
        top: $cardDistanceToTop;
        z-index: 150;
        background-color: white;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1rem;

        h1 {
            margin-bottom: 0.5rem;
            font-size: 1.8rem;
            font-weight: 700;
        }

        &.noInteractibles {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
        }

        .subtitle {
            font-weight: 400;

            p {
                color: rgb(233, 50, 50);
                margin-top: 0.3rem;
                font-size: 0.8rem;
                font-weight: 500;

                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .loadingContainer {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;

            .loadingText {
                width: 100%;
                opacity: 0.7;
                margin-bottom: 1rem;
                font-size: 0.9rem;
                font-weight: 400;
                text-align: center;
            }

            .loadingIcon {
                height: 2rem;
                max-height: 2rem;
                min-height: 2rem;
                width: 2rem;
                max-width: 2rem;
                min-width: 2rem;
                color: $backgrounOrange;
            }
        }
    }

    .clip {
        position: absolute;
        height: $cardDistanceToTop + $authHeaderHeight / 2;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 130;
        background-color: $background;
    }

    .interactions {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 90%;
        top: $cardDistanceToTop;
        background-color: rgb(230, 230, 230);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        .separation {
            height: 1rem;
            background-color: white;
        }

        .fastPickerReplacement {
            height: $authButtonHeight * 2;
            width: 100%;
            background-color: white;
        }

        .healthPickerReplacement {
            height: $authButtonHeight * 2;
            width: 100%;
            background-color: rgb(230, 230, 230);
        }
    }
}

//      BUTTON
// #######################################

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight;
    width: 100%;
    background-color: $backgrounOrange;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

//      OBJECTIVE WEIGHT BUTTON
// #######################################

.ObjectiveWeightButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight;
    width: 100%;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        .skip {
            border-bottom-left-radius: 1rem;
        }

        .select {
            border-bottom-right-radius: 1rem;
        }
    }

    .skip,
    .select {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight;
        width: 50%;
        background-color: $backgrounOrange;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }

    .skip {
        background-color: rgb(230, 230, 230);
    }
}

//      INPUT
// #######################################

.Input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight;
    width: 100%;
    background-color: rgb(230, 230, 230);

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        input {
            border-bottom-left-radius: 1rem;
        }
    }

    input {
        user-select: all;
        height: $authButtonHeight;
        width: calc(100% - $authButtonHeight);
        background-color: rgb(235, 235, 235);
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .enter {
        position: relative;
        height: $authButtonHeight;
        max-height: $authButtonHeight;
        min-height: $authButtonHeight;
        width: $authButtonHeight;
        max-width: $authButtonHeight;
        min-width: $authButtonHeight;
        overflow: hidden;
        background-color: $backgrounOrange;
        border-bottom-right-radius: 1rem;

        &.validating {
            pointer-events: none;
        }

        .icon {
            pointer-events: none;
            position: absolute;
            transition: top 0.2s ease-in-out;
            height: 100%;
            max-height: 100%;
            min-height: 100%;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            top: 0;
            left: 0;
            color: rgba(0, 0, 0, 0.5);
            padding: 1.3rem;

            &.up {
                top: -$authButtonHeight;
            }

            &.down {
                top: $authButtonHeight;
            }
        }
    }
}

//      FAST PICKER
// #######################################

.FastPicker {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $authButtonHeight * 2;
    width: 100%;
    background-color: white;

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .pickerContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight;
        width: 100%;
        overflow: hidden;
        background-color: rgb(230, 230, 230);

        .element {
            pointer-events: none;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $authButtonHeight;
            max-height: $authButtonHeight;
            min-height: $authButtonHeight;
            width: $authButtonHeight;
            max-width: $authButtonHeight;
            min-width: $authButtonHeight;
            font-size: 1.1rem;

            .minutes {
                opacity: 1;
                margin-left: 0.05rem;
                font-size: 0.6rem;
            }
        }
    }

    .infoContainer {
        pointer-events: none;
        position: relative;
        height: $authButtonHeight;
        width: 100%;
        padding: 1rem;

        .highlight {
            font-weight: 700;
        }

        .warning {
            color: #ff5e00;
            font-weight: 500;
        }
    }
}

//      HEALTH PICKER
// #######################################

.HealthPicker {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $authButtonHeight * 2;
    width: 100%;
    background-color: rgb(230, 230, 230);

    &.last {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .pickerContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight * 2;
        width: $authButtonHeight;
        overflow: hidden;

        .element {
            pointer-events: none;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $authButtonHeight;
            max-height: $authButtonHeight;
            min-height: $authButtonHeight;
            width: $authButtonHeight;
            max-width: $authButtonHeight;
            min-width: $authButtonHeight;
            opacity: 0;
            font-size: 1.1rem;
        }
    }

    .infoContainer {
        pointer-events: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $authButtonHeight * 2;
        width: fit-content;
        margin-right: 1rem;
        margin-top: 0.3rem;
        padding: 0.2rem;
        font-size: 1.1rem;
        font-weight: 600;

        &.point {
            margin-right: 0;
            font-weight: 800;
        }
    }
}

// #######################################
//      MOBILE LAYOUT
// #######################################

.MobileLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .mainPagesContent {
        position: relative;
        height: calc(100% - #{$navBarheight});
        width: 100%;
    }
}

// #######################################
//      NAVBAR
// #######################################

.Navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navBarheight;
    width: 100%;
    background-color: white;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
        width: calc(2rem + #{$navBarheight * 0.4});
        background-color: transparent;
        margin: 0 0.5rem;
        border-radius: 100vw;
        padding: 0.7rem 1rem;

        &.selected {
            width: 8.5rem;

            &.navbarHome {
                background-color: $homeColorBackground;
            }

            &.navbarHistory {
                background-color: $historyColorBackground;
            }

            &.navbarSettings {
                background-color: $settingsColorBackground;
            }

            .icon {
                &.navbarHome {
                    color: $homeColorForeground;
                }

                &.navbarHistory {
                    color: $historyColorForeground;
                }

                &.navbarSettings {
                    color: $settingsColorForeground;
                }
            }

            .name {
                transition: opacity 0.05s 0.15s ease-in-out, width 0.2s ease-in-out;
                width: 5.5rem;
                opacity: 1;
            }
        }

        .icon {
            transition: color 0.2s ease-in-out;
            height: $navBarheight * 0.4;
            max-height: $navBarheight * 0.4;
            min-height: $navBarheight * 0.4;
            width: $navBarheight * 0.4;
            max-width: $navBarheight * 0.4;
            min-width: $navBarheight * 0.4;
            color: rgb(146, 146, 146);
        }

        .name {
            transition: opacity 0.05s ease-in-out, width 0.2s ease-in-out;
            width: 0%;
            opacity: 0;
            padding-left: 0.5rem;
            font-weight: 600;
            text-align: center;

            &.navbarHome {
                color: $homeColorForeground;
            }

            &.navbarHistory {
                color: $historyColorForeground;
            }

            &.navbarSettings {
                color: $settingsColorForeground;
            }
        }
    }
}

// #######################################
//      DESKTOP LAYOUT
// #######################################

.DesktopLayout {
    position: relative;
    height: 100%;
    width: 100%;
}

// #######################################
//      HOME
// #######################################

.Home {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(102, 255, 0);
}

// #######################################
//      HISTORIC
// #######################################

.Historic {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 217, 0);
}

// #######################################
//      SETTINGS
// #######################################

.Settings {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 38, 255);
}
