$background: rgb(210, 210, 210);
$backgrounDark: rgb(67, 67, 67);
$backgrounOrange: rgb(255, 183, 116);
$text: rgb(20, 20, 20);
$textDark: rgb(245, 245, 245);

$fontSize: 16px;
$borderRadius: 8px;

// AUTH
$authButtonHeight: 4rem;
$authHeaderHeight: 10rem;
