$background: rgb(235, 235, 235);
$text: rgb(20, 20, 20);
$textWarning: rgb(255, 137, 19);
$fontSize: 16px;

// AUTH
$authButtonHeight: 4rem;
$authHeaderHeight: 10rem;
$authCardDistanceToTop: 7rem;
$authCardBackground: rgb(255, 255, 255);
$authButtonOrange: rgb(255, 193, 134);
$authButtonGrey: rgb(230, 230, 230);
$authInputGrey: rgb(235, 235, 235);
$authIconColor: rgba(0, 0, 0, 0.5);

// MOBILE LAYOUT
$navBarheight: 4rem;
$navbarBackground: rgb(255, 255, 255);
$navbarHomeBackground: rgb(255, 222, 190);
$navbarHomeForeground: rgb(255, 125, 19);
$navbarHistoryBackground: rgb(245, 213, 255);
$navbarHistoryForeground: rgb(182, 64, 218);
$navbarSettingsBackground: rgb(199, 228, 255);
$navbarSettingsForeground: rgb(52, 143, 228);
$navbarIconColor: rgba(0, 0, 0, 0.3);
$navbarPadding: 0.4rem;

// DESKTOP LAYOUT
$desktopLayoutBackground: rgb(221, 221, 221);
// HOME
$fastIconOn: rgba(0, 0, 0, 0.5);
$fastIconOff: rgba(0, 0, 0, 0.1);
$fastCardBackground: rgb(255, 255, 255);
