$background: rgb(210, 210, 210);
$backgrounDark: rgb(67, 67, 67);
$backgrounOrange: rgb(255, 183, 116);
$text: rgb(20, 20, 20);
$textDark: rgb(245, 245, 245);

$fontSize: 16px;
$borderRadius: 8px;

// AUTH
$authButtonHeight: 4rem;
$authHeaderHeight: 10rem;
$cardDistanceToTop: 7rem;

// MOBILE LAYOUT
$navBarheight: 4rem;
$homeColorBackground: rgb(255, 222, 190);
$homeColorForeground: rgb(255, 137, 19);
$historyColorBackground: rgb(199, 228, 255);
$historyColorForeground: rgb(52, 143, 228);
$settingsColorBackground: rgb(195, 255, 180);
$settingsColorForeground: rgb(71, 192, 41);
